.item {
  border-radius: 15px;
  height: 150px;
  margin: 10px;
  min-width: 150px;
  position: relative;
}

.backImg {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.content {
  background-color: hsl(0deg 3% 93% / 85%);
  border-radius: 15px;
  bottom: 10px;
  color: #172223;
  left: 10px;
  padding: 0 10px;
  position: absolute;
  text-align: left;
  width: 74%;
}

.title {
  font-size: 14px;
  margin: 5px 0;
}

.description {
  font-size: 12px;
  margin: 5px 0;
}

@media screen and (max-width: 780px) {
  .item {
    width: 100%;
    margin: 3px;
  }
}
