.item {
  border-radius: 15px;
  height: 150px;
  margin: 10px;
  width: 30%;
  position: relative;
  -webkit-box-shadow: 0 1px 10px 1px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 0 1px 10px 1px rgba(34, 60, 80, 0.15);
  box-shadow: 0 1px 10px 1px rgba(34, 60, 80, 0.15);
  transition: 0.2s ease;
}

.item:hover {
  box-shadow: 0 5px 15px 2px rgba(34, 60, 80, 0.3);
}

.backImg {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.content {
  background-color: hsl(0deg 3% 93% / 85%);
  border-radius: 15px;
  bottom: 10px;
  color: #172223;
  left: 10px;
  padding: 0 10px;
  position: absolute;
  text-align: left;
  width: 74%;
}

.title {
  font-size: 14px;
  margin: 5px 0;
}

.description {
  font-size: 12px;
  margin: 5px 0;
}

@media screen and (max-width: 780px) {
  .item {
    /* margin: 10px; */
    width: 100%;
  }
}
