.footer {
  background-color: #006d77;
  width: 90%;
  margin: 0;
  height: 330px;
  padding: 0 5%;
  position: relative;
  text-align: center;
}

.link {
  display: block;
  height: 60px;
  width: 200px;
  position: absolute;
  bottom: 10%;
  font-size: 16px;
  color: rgb(146, 191, 194);
  left: 50%;
  transform: translateX(-50%);
  line-height: 60px;
}

.react {
  color: rgb(185, 241, 244);
}
