.footer {
  background-color: #006d77;
  width: 90%;
  margin: 0;
  height: 330px;
  padding: 0 5%;
  position: relative;
  text-align: center;
}

.linksBlock {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.link {
  display: block;
  height: 30px;
  width: 200px;
  font-size: 14px;
  color: rgb(146, 191, 194);
  line-height: 30px;
  padding: 5px;
}

.react {
  color: rgb(185, 241, 244);
}

.insta {
  width: 60px;
  padding: 10px;
}
