body {
  transition: 0.3s ease;
}

.App {
  display: flex;
  flex-direction: column;
  margin-top: -235px;
  overflow-x: hidden;
  transition: 0.3s ease;
  background-color: #edf6f9;
}

.header {
  background-color: #006d77;
  width: 90%;
  margin: 0;
  height: 235px;
  padding: 0 5%;
  position: relative;
}

.headerActive {
  margin-top: 0;
}

.content {
  background-color: #edf6f9;
  max-width: 1000px;
  width: 90%;
  margin: 0;
  min-height: 90vh;
  color: #005057;
  padding: 10px 5%;
  margin: 0 auto;
}

.contentBlock {
  margin-top: 10px;
  margin-top: 120px;
}

.alignCenter {
  text-align: center;
}

.h1 {
  font-size: 24px;
  font-weight: 600;
}

input[type="text"],
input[type="email"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
