.App {
  display: flex;
  flex-direction: column;
  margin-top: -270px;
  overflow-x: hidden;
  transition: 0.3s ease;
}

.header {
  background-color: #006d77;
  width: 90%;
  margin: 0;
  height: 270px;
  padding: 0 5%;
  position: relative;
}

.headerActive {
  margin-top: 0;
}

.content {
  background-color: #edf6f9;
  width: 90%;
  margin: 0;
  height: 200vh;
  color: #005057;
  padding: 10px 5%;
}

.contentBlock {
  margin-top: -68px;
}

.alignCenter {
  text-align: center;
}

.h1 {
  font-size: 24px;
  font-weight: 600;
}
