.items {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 510px;
  margin: 20px auto;
}

/* @media screen and (max-width: 1079px) {
  .items {
    width: 644px;
  }
} */

@media screen and (max-width: 574px) {
  .items {
    flex-direction: column;
    width: 90%;
  }
}
