.items {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 100px auto;
  justify-content: space-between;
}

@media screen and (max-width: 574px) {
  .items {
    flex-direction: column;
    width: 90%;
  }
}
